{% extends 'base.html' %} {% block content %}
<section id="discriminate" class="section">
    <div class="container">
        <h2>Discriminate Data</h2>
        <form id="discriminate-form" enctype="multipart/form-data">
            <label for="file">Upload Profile Image:</label><br>
            <input type="file" id="file" name="file" accept="image/*"><br><br>
            <button type="submit">Classify</button>
        </form>
        <div id="result"></div>
    </div>
</section>

<script>
    document.getElementById('discriminate-form').addEventListener('submit', async function(event) {
        event.preventDefault();
        const formData = new FormData();
        const fileField = document.querySelector('input[type="file"]');

        formData.append('file', fileField.files[0]);

        const response = await fetch('/discriminate', {
            method: 'POST',
            body: formData,
        });

        const result = await response.json();
        document.getElementById('result').innerHTML = JSON.stringify(result, null, 2);
    });
</script>
{% endblock %}